*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../Form/background1.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;
    margin-left: 10px;
}
.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;
}
h1{
    color: #fff;
    font-size: 70px;
}
p{
    color: #fff;
    font-size: 11px;
    line-height: 15px;
}
button{
    width: 180px;
    color: black;
    font-size: 12px;
    padding: 12px 0;
    background: white;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}
.box{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-size: cover;
    transition-duration: 0.5s;
}
.box:hover{
    transform: translateY(-10px);
}
#tokyo{
    background-image: url(tokyo-tower.jpg);
    background-position: center;
}
#kyoto{
    background-image: url(kyoto.jpg);
    background-position: center;
}
#hokkaido{
    background-image: url(hokkaido.jpg);
    background-position: center;
}
#osaka{
    background-image: url(osaka.jpg);
    background-position: center;
}
.text{
    color: #353637;
}
footer{
    width: 100%;
    position: inherit;
    bottom: 0;
    background: black;
    text-align: center;
}
footer p{
    font-size: 13px;
}
.icon-footer{
    width: 40px;
}