body{
    background-image: url(background1.jpg); 
    background-size: cover;   
}
fieldset{
    border: 2px solid;
    width: 100px;
    margin: 10px;
    text-align: center;
    background-color: rgb(248, 235, 160);
    margin: auto;
}
legend{
    background-color: rgb(44, 40, 40);
    color:wheat;
    size: 20;
}
textarea{
    resize: none;
}